* {
	padding: 0;
	margin: 0;
	font-family: 'calibri';
	text-align: center;
}



form {
	padding: 50px 20px;
	background-color: #cdcdcd;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px;
    box-shadow: 7px 13px 37px #000;
}

body.container {
    background-image: url('fondo.jpg');
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}
.seleccionar {  
    width: calc(60% - 40px);
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


